<h1>Add a image</h1>
<%= link_to 'Back to all images', images_url %>
<%= form_for @image do |f| %>
  <p>
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </p>
  <p>
    <%= f.label :piece %><br>
    <%= f.text_field :piece %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
