<h1>Pictures</h1>
<%= link_to "Back to Images", images_url %> | <%= link_to "Edit", edit_image_path(@image) %> | <%= link_to "Delete", @image, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>
Creator: <%= @image.creator %> </br>
Title: <%= @image.piece %> </br>

<img src="<%= @image.location %>" width=300px>
